@font-face 
  font-family: 'sell-icon'
  src:  url('../fonts/sell-icon.eot?oarpl8')
  src:  url('../fonts/sell-icon.eot?oarpl8#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?oarpl8') format('truetype'),
    url('../fonts/sell-icon.woff?oarpl8') format('woff'),
    url('../fonts/sell-icon.svg?oarpl8#sell-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-add_circle:before 
  content: "\e900"

.icon-arrow_lift:before 
  content: "\e901"

.icon-check_circle:before 
  content: "\e902"

.icon-close:before 
  content: "\e903"

.icon-favorite:before 
  content: "\e904"

.icon-keyboard_arrow_right:before 
  content: "\e905"

.icon-remove_circle_outline:before 
  content: "\e906"

.icon-shopping_cart:before 
  content: "\e907"

.icon-thumb_down:before 
  content: "\e908"

.icon-thumb_up:before 
  content: "\e909"

.icon-office:before 
  content: "\e90a"

.icon-newspaper:before 
  content: "\e90b"

.icon-pencil:before 
  content: "\e90c"

.icon-pencil2:before 
  content: "\e90d"

.icon-quill:before 
  content: "\e90e"

.icon-pen:before 
  content: "\e90f"

.icon-blog:before 
  content: "\e910"

.icon-eyedropper:before 
  content: "\e911"

.icon-droplet:before 
  content: "\e912"

.icon-paint-format:before 
  content: "\e913"

.icon-image:before 
  content: "\e914"

.icon-images:before 
  content: "\e915"

.icon-camera:before 
  content: "\e916"

.icon-headphones:before 
  content: "\e917"

.icon-music:before 
  content: "\e918"

.icon-play:before 
  content: "\e919"

.icon-film:before 
  content: "\e91a"

.icon-video-camera:before 
  content: "\e91b"

.icon-dice:before 
  content: "\e91c"

.icon-pacman:before 
  content: "\e91d"

.icon-spades:before 
  content: "\e91e"

